[Desktop Entry]
Name=LAV Splitter Configuration
Exec=env WINEPREFIX="/home/t/.wine" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\LAV\\ Filters\\\\LAV\\ Splitter\\ Configuration.lnk
Type=Application
StartupNotify=true
Path=/home/t/.wine/dosdevices/c:/Program Files (x86)/LAV Filters/x86
Icon=4796_LAVSplitter.0
StartupWMClass=rundll32.exe
